<div class="row" style="padding-top: 50px;">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Usuarios</span>
                <form class="m-4" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
                    <div class="row" style="text-align: right;">
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <input matInput formControlName="Note" class="input px-2 py-1" type="text" name="filterTarea" placeholder="Buscar" style="font-style: italic;text-transform: capitalize;" required>
                          <mat-error *ngFor="let validacion of mensajes_validacion.nota">
                            <mat-error class="error-message" *ngIf="roomForm.get('Note').hasError(validacion.type) && (roomForm.get('Note').dirty || roomForm.get('Note').touched)">{{validacion.message}}</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-3">
                        <button style="margin-left: 10px;" [disabled]="!roomForm.valid " mat-raised-button color="primary" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span> Aceptar
                          </button>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 mb-3">
                        <button style="margin-left: 10px;" (click)="ngOnInit()" color="primary" class="btn btn-default">
                            <span class="glyphicon glyphicon-off"></span> Limpiar
                          </button>
                      </div>
                    </div>
                  </form>
            </div>
            <ul class="list-group" id="contact-list">
                <li *ngFor="let usuario of usuariosF | slice:0:10; let i=index" routerLink="../DetalleUsuario/{{usuario.login}}/{{usuario.score}}" class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                        <img src="{{usuario.avatar_url}}" alt="Scott Stevens" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <span class="name">id: {{usuario.id}}</span><br/>
                        <span class="name">Nombre: {{usuario.login}}</span><br/>
                        <span class="glyphicon glyphicon-user text-muted c-info" data-toggle="tooltip" title="Tipo: {{usuario.type}}"></span>
                        <span class="visible-xs"> <span class="text-muted">Tipo: {{usuario.type}}</span><br/></span>
                        <span class="glyphicon glyphicon-star text-muted c-info" data-toggle="tooltip" title="Puntuación: {{usuario.score}}"></span>
                        <span class="visible-xs"> <span class="text-muted">Puntuación: {{usuario.score}}</span><br/></span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <canvas id="canvas">{{chart}}</canvas>
  </div>