<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  

<html>
<body class="profile-page sidebar-collapse">
  <div *ngFor="let item of usuarioF" class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://images.unsplash.com/photo-1476984251899-8d7fdfc5c92c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3700&q=80');">
      </div>
      <div class="container">
        <div class="photo-container">
          <img src="{{item.avatar_url}}" alt="">
        </div>
        <h3 class="title">{{item.login}}</h3>
        <p class="category">{{item.type}}</p>
        <div class="content">
          <div class="social-description">
            <h2>{{item.public_repos}}</h2>
            <p>Public repos</p>
          </div>
          <div class="social-description">
            <h2>{{item.followers}}</h2>
            <p>Seguidores</p>
          </div>
          <div class="social-description">
            <h2>{{item.following}}</h2>
            <p>Seguidos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a (click)="volver()" class="btn btn-primary btn-round btn-lg">Regresar</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>